/* Style the buttons that are used to open and close the accordion panel */
.pdf-holder {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  grid-column: 1/2;
  width: 100%;

}

.pdf-holder-right {
  grid-column: 2/3;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.pdf-holder:hover {
  background-color: #ccc;
}

/* Style the pdf-holder panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  height: 100%;
  width: 100%
}

iframe.pdf-left {
  width: 100%;
  height: 700px;
  grid-column: 1/2;
}

iframe.pdf-right {
  width: 100%;
  height: 700px;
  grid-column: 2/3;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6,1fr);
}